<!DOCTYPE html>
<html>
<head>
  <title>Mass texting tool</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="lyco.css" rel="stylesheet">
  <script src="jquery-3.1.1.min.js"></script>
  <script src="lyco.js"></script>
</head>

<body>
  <header>
    <h1>Mass texting tool</h1>
    <p>
      Contact Jack to check account balance.
      Please use for SA-related mass texting.
    </p>
  </header>

  <p>Using outgoing number: <%= @number %></p>

  <form name="masstext" id="masstext" action="#">
    <fieldset>
      <label for="numbers" class="required">Numbers to text (required)</label>
      <figure>
        <textarea id="numbers" name="numbers"></textarea>
        <p>
          Copy and paste a list of numbers here (e.g. from a spreadsheet), each on a new line.
          Duplicates and invalid numbers will be ignored.
        </p>
      </figure>

      <p>
        Sending <tt id="potnums">0</tt> potential contacts:
        <tt id="numparts">0</tt> message parts each.
        <br>
        Estimated maximum cost: <tt id="cost">$0.00</tt>.
      </p>
    </fieldset>

    <fieldset>
      <label for="message0" class="required">Message part 1 (required)</label>
      <figure>
        <textarea id="message0" name="message[]"></textarea>
        <p>
          Use more than one part if your message goes over the limit
          for a single text message (160 characters.)
        </p>
      </figure>

      <label for="message1">Message part 2 (optional)</label>
      <figure>
        <textarea id="message1" name="message[]"></textarea>
      </figure>

      <label for="message2">Message part 3 (optional)</label>
      <figure>
        <textarea id="message2" name="message[]"></textarea>
      </figure>
    </fieldset>

    <p class="consider">
      Consider sending a test message to yourself before sending to the entire list.
    </p>

    <input id="send_button" type="submit" value="Send texts!">
  </form>

  <h2>Logs</h2>
  <pre id="logs"></pre>

</html>
