<!DOCTYPE html>
<html>
<head>
  <title>Mass texting tool</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="lyco.css" rel="stylesheet">
  <script src="jquery-3.1.1.min.js"></script>
  <script src="index.js"></script>
</head>

<body>
  <header>
    <h1>Mass texting tool</h1>
    <nav>[ <strong>Send texts</strong> ] [ <a href="/settings">Settings</a> ]</nav>
  </header>

  <form name="masstext" id="masstext" action="#">
    <fieldset>
      <label for="numbers">Recipients (<span id="potnums">0</span>)</label>
      <figure>
        <textarea id="numbers" name="numbers"></textarea>
        <p>
          A list of phone numbers, each on a new line.
          Puncutation is stripped,
          and duplicate and invalid numbers are ignored.
        </p>
      </figure>
    </fieldset>

    <fieldset>
      <label for="message">
        Message
        (<span id="charcount"></span> chars;
        <span id="encoding"></span>;
        <span id="numparts"></span> segments)
      </label>
      <figure>
        <textarea id="message" name="message"></textarea>
      </figure>
    </fieldset>

    <p>
      Cost: <span id="cost"></span>.
    </p>

    <p class="warning">
      Send a test to yourself before your entire list.
    </p>

    <input id="send_button" type="submit" value="Send texts!">
  </form>


  <h2>Logs</h2>
  <pre id="logs"></pre>

</html>
