body {
  font: 12pt/16pt sans-serif;
  max-width: 42em;
  min-width: 20em;
  padding: 1em;
  margin: auto;
}

label { display: block; margin-top: 1em; }
fieldset { margin: 1em 0; }
textarea { width: 65%; min-width: 20em; height: 10em; margin-right: 1em; }
figure p { color: #767676; }

input[type=text] { height: 2em; padding: 1em; margin-right: 2em; }

.warning { font-weight: bold; font-size: 125%; }

input[type=submit] {
  display: block;
  margin: 2em 0;
  padding: 1em;
}

#logs {
  height: 20em;
  overflow: scroll;
}
