<nav>
  <ul>
    <li class="pure-button" disabled>Compose</li>
    <li><a class="pure-button" href="/settings">Settings</a></li>
  </ul>
</nav>

<main>
  <h2>Compose</h2>

  <p aria-hidden="true">
    <b>Cost</b>:
    $0.0075/SMS
    <output id="cost-output" for="masstext"></output>
  </p>

  <form class="pure-form pure-form-stacked" name="masstext" id="masstext" action="#">
    <fieldset>
      <label for="numbers">
        Recipients
        <output id="numbers-output" for="numbers" aria-hidden="true"></output>
      </label>

      <p class="pure-form-message">
        A list of phone numbers, each on a new line.
        Puncutation, duplicate numbers, and invalid numbers will be ignored.
      </p>

      <textarea id="numbers" name="numbers"></textarea>
    </fieldset>

    <fieldset>
      <label for="message">
        Message
        <output id="message-output" for="message" aria-hidden="true"></output>
      </label>

      <textarea id="message" name="message"></textarea>
    </fieldset>

    <p class="warning">
      <strong>Before sending a mass text, send yourself a test</strong>
    </p>

    <input class="pure-button pure-button-primary" id="send_button" type="submit" value="Send message(s)">
  </form>

  <h3>Status</h3>
  <pre id="logs"></pre>
</main>
