<!DOCTYPE html>
<html>
<head>
  <title>MassTextingMachine</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="pure.min.css" rel="stylesheet">
  <link href="lyco.css" rel="stylesheet">
  <script src="jquery-3.4.1.min.js"></script>
  <script src="index.js"></script>
</head>

<body>

  <header>
    <h1>MassTextingMachine</h1>
    <% if @instance_name %>
      <p><%= @instance_name %></p>
    <% end %>
  </header>

  <%= yield %>

  <footer>
    <a href="https://github.com/jackwillis/lyco/">Source code</a>
  </footer>

</html>