<!DOCTYPE html>
<html lang="en">
<head>
  <title>MassTextingMachine</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="pure.min.css" rel="stylesheet">
  <link href="lyco.css" rel="stylesheet">
</head>

<body>

  <header>
    <h1>Mass<wbr>Texting<wbr>Machine</h1>
    <% if settings.instance_name %>
      <p><%= settings.instance_name %> (<%= settings.sender %>)</p>
    <% end %>
  </header>

  <%= yield %>

  <footer>
    <a href="https://github.com/jackwillis/lyco/">Source code</a>
  </footer>

  <script src="lyco.js"></script>

</body>
</html>